{% extends "my_home/base.html" %}
{% block title%}Willow the Developer{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-5 fw-bold">Hello! My name is Willow!</h1>
            <p class="col-md-8 fs-4">Welcome to my website! I'm an aspiring freelance developer along with an aspiring
                fullstack developer who lives in the Nashville, Tennessee area. I work with Python, JavaScript, HTML, and
                CSS. On this website you can find my projects and my contact information.</p>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for card in cards %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ card.image }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text"> {{ card.description }}</p>
                        <div class="btn-group">
                            <a href="{{ card.link }}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                            <a href="{{ card.source }}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Source Code</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}